body {
    /* background-image: url(../../images/grid/image\ \(8\).png); */
    /* background-size:cover;
    background-repeat: no-repeat;
    background-size: 900px 500px;
    background-position-y: 6.1rem;
    background-position-x: 6.01rem; */
    background-color: black;
}

#canvas1, #gamePlay{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    /* background: rgb(86, 184, 44); */
    /* background-image: url(../../images/grid/canvasBg.png); */
    background-repeat: no-repeat;
    background-size: 900px 500px;
}

#img {
    position: absolute;
    top: 43%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 1800px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 900px 500px;
}

#gamePlay {
    display: flex
}

#pauseButton {
    top: 10px;
    left:75%;
}

#quitButton {
    top: 10px;
    left:90%;
}

.button {
    z-index: 3;
    position: fixed;
    width: 100px;
    height: 60px;
    background:  rgba(95, 95, 95, 0.8);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: wheat;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}