body {
    background: black
}

#canvasHome, #homeGrid {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 600px;
    transform: translate(-50%, -50%);
    background-image: url(../../images/homepage/bakeryImage1.jpeg);
    background-size: 900px 600px;
}

#homeGrid {
    display: flex
}

#startGameButton {
    position:fixed;
    left:40%;
    top:40%;
    align-items: center;
    width: 200px;
    height: 100px;
    background: rgba(95, 95, 95, 0.8);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: wheat;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

#howToPlayButton {
    position:fixed;
    left:80%;
    width: 150px;
    height: 75px;
    background:  rgba(95, 95, 95, 0.8);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: wheat;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    /* top:45%; */
}

#howToPlayPopUp {
    position: fixed;
    width: 700px;
    height: 400px;
    background: rgba(209, 209, 209, 0.737);
    border: 1px solid black;
    margin: auto;
    top: 150px;
    left: 100px;
    z-index: 10;
    display: none;
}       

#title {
    font-family: Arial;
    text-align: center;
}

#close-button {
    position:absolute; 
    right: 0px; 
    top: 0px;
    color: black;
    font-size: 30px;
}

#instructions {
    font-family: Arial;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

#displayText {
    display: inline;
}

p {
    text-align: center;
}

.arr {
    background: white;
    position: fixed;
    bottom: 50px;
    height: 50px;
    width: 50px;
    border: #202020;
    border-radius: 100%;
    margin: 15px;
    transition: 0.4s ease; 
    cursor: pointer;
    display: inline
}

.arr div {
    position: absolute;
    height: 16px;
    width: 16px;
    border-top: 6px solid #202020;
    border-left: 6px solid #202020;
    transform: rotate(45deg);
    left: 9px;
    top: 13px;
    padding: 5px
}

.right {
    transform: rotate(90deg);
    right: 350px;
}

.left {
    transform: rotate(-90deg);
    left: 350px;
}

